{% extends 'core/base.html' %}

{% block title %}{{ item.name }} {% endblock %}

{% block content %}
<div class="grid grid-cols-5 gap-6">
    <div class="col-span-3">
        <img src="{{ item.image.url }}" class="rounded-xl">
    </div>

    <div class="col-span-2 p-6 bg-gray-100 rounded-xl">
        <h1 class="mb-6 text-3xl">{{ item.name }}</h1>
        <p class="text-gray-500"><strong>Preço: R$ </strong>{{ item.price }}</p>
        <p class="text-gray-500"><strong>Vendedor : </strong>{{ item.created_by }}</p>

        {% if item.description %}
        <p class="text-gray-700">
            <strong class="text-gray-500">Descrição</strong><br>
            {{ item.description }}
        </p>
        {% endif %}

        {% if request.user == item.created_by %}
        <div class="mt-6 p-6 bg-white rounded-xl">
            <p>Esse é seu item!</p>

            <a href="{% url 'item:edit' item.id %}"
               class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl">Editar</a>
            <a href="{% url 'item:delete' item.id %}"
               class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-red-500 text-white rounded-xl">Deletar</a>
        </div>
        {% else %}
        <a href="{% url 'conversation:new' item.id %}"
           class="inline-block mt-6 px-6 py-3 text-lg font-semibold bg-teal-500 text-white rounded-xl hover:bg-teal-700">Contato
            do vendedor</a>
        {% endif %}
    </div>
</div>

<div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-2xl text-center">Itens relacionados</h2>

    <div class="grid grid-cols-3 gap-3">
        {% for item in related_items %}
        <div>
            <a href="{% url 'item:detail' item.id %}">
                <div class="w-70 h-48 overflow-hidden relative">
                    <img src="{{ item.image.url }}" class="absolute w-full h-full object-cover">
                </div>


                <div class="w-70 h-40 p-6 bg-white rounded-b-xl">
                    <h2 class="text-2xl">{{ item.name }}</h2>
                    <p class="text-gray-500">Price: {{ item.price }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
